.azeret-mono-normal {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }
*{
    margin: 0;
    padding: 0;
}


h1 ,button{
    display: inline;
    padding: 17px 24px 17px 24px;

}
h1{
margin: 60px;

}
button{
    margin-left: 800px;
    width: 228px;
    height: 58px;
    border-radius: 5px;
}

.banner-container{
    max-width: 1510px;
    height: 652px;
    margin-top:30px;
    background-image: url(../assets/Hero-bg.png);
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
  
   
}

#banner-content {
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;

}
#banner-content h1{
    font-size: 48px;
font-weight: 800;
line-height: 68px;
margin-top: 20px;
margin-bottom: 10px;
}

#banner-content p{
    font-size: 16px;
font-weight: 400;
line-height: 26px;
 margin-bottom: 60px;
}
#banner-content button{

    margin:0 auto;
     margin-bottom : 30px;
    background: rgb(13, 19, 33);
    color: white;
}

#body-content1{
    width: 1140px;
  height: 1395px;
  border-radius: 16px;
  background: rgba(13, 19, 33, 0.02);
  padding: 80px 97px 80px 97px;
  border: 2px solid red ;
}

#text{
    
    display:flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid red;
}
 #text h1{
    
   font-size: 40px;
font-weight: 800;
line-height: 17px;
margin-top:10 px;
margin-bottom: 12px;
}
 #text p{
    margin-top: 60px;
    font-size: 29Spx;
    font-weight: 400;
    line-height: 26px;
margin-top:3px;
}

 #card-text{
    display: flex;
    flex-direction:column;
    align-items:flex-start;
   

}
#card-text button{
    width: 150px;
    height: 48px;
    margin-top: 13px;
    margin-left: 50px;
    margin-bottom: 60px;
    padding: 12px 20px 12px 20px;
}
#card1{
    width: 900px;
    height: 336px;
    margin:48px auto;
    display:flex;
    justify-content: space-between;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
   
}
#card1-pic{
    width: 259.56px;
    height: 217.01px;
    margin-top: 19px;
}

#card-text h1{
    margin-top: 8px;
    margin-bottom: 2px;
    margin-left: 28px;
} 
#card-text p{
    margin-top:2px;
    margin-left: 50px;
    margin-bottom: 7px;
}
